* {
	outline: none !important;
}
body {
	font-family: "Open Sans", "Helvetica", sans-serif;
	background-color: #D90000;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="file"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus,
.uneditable-input:focus {   
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;
}

input[type="file"], select{
	cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

label {
	user-select: none;
}
form span.loading-text {
	display: none;
	font-size: 0.9em;
	color: #FDB813;
	animation: glow .7s ease-in-out;
	animation-iteration-count: infinite;
}
@keyframes glow {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

#browse {
	margin-right: 3%;
}
.alert {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
}
.flex-container {
	display: flex;
	width: 100%;
}
.btn {
	text-transform: uppercase;
}
.btn-light {
	background-color: #fff !important;
}
.btn img {
	max-width: 32px !important;
}
.section img {
	max-width: 640px;
	border-radius: 5px;
}

/*bodymovin*/
#bm {
	max-width: 90vw !important;
	max-height: 90vh !important;
	overflow: hidden;
}
g rect {
	display: none !important;
}
g img {
	width: 100%;
}
svg {
	transform: scale(1.2);
	max-width: 90vw !important;
	max-height: 90vh !important;
}
@media all and (min-width: 768px) and (max-width: 1440px){
	svg {
		transform: scale(1.3);
	}
	.landing-section {
		max-width: 70vw !important;
	}
}
@media all and (max-width: 768px){
	svg {
		width: initial !important;
		transform: scale(3);
	}
	.landing-section {
		width: 100%;
		height: 100%;
		max-width: 100vw !important;
		position: initial !important;
		transform: none !important;
	}
}
/*bodymovin end*/

.landing-section {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1.3);
}

.landing-section .btn {
	position: absolute;
	bottom: 25px;
	right: 30px;
	background-color: #fff;
	color: red;
	font-weight: 700;
	letter-spacing: 1px;
}

.landing-section .btn:hover {
	transform: scale(1.1);
}

.form-control-file {
	cursor: pointer;
}
.form-section {
	display: none;
	background-color: #fff;	
	padding: 30px;
}
.form-section .flex-preview {
	justify-content: space-between;
}
.form-section .flex-check {
	justify-content: flex-end;
}

.form-title {
	font-weight: 700;
	padding: 15px 0;
	text-decoration: underline;
}
.form-title img {
	max-width: 50px;
}
.form-check-label {
	cursor: pointer;
}

.preview {
	min-width: 70%;
	display: flex;
	justify-content: center;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow-x: scroll;
}
.preview i {
	color: #ccc;
}
.preview img{
	max-height: 300px;
	margin: 0px 5px;
}

.form-section .btn-wrapper {
	margin-left: 30px;
}

/*ready to print image positioning, hide first*/
.print-this{
	display: none;
	text-align: center;
	margin-top: 15px;

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.print-this img {
	width: 640px;
	height: 640px;
	border: 1px solid #fff;
}
.result-section{
	display: none;
	width: 100%;
	text-align: center;
	padding: 15px 5px;
	margin: 0;
	margin-top: 15px;
}
.result-section .btn img{
	transition: .2s ease-in-out;
}
.result-section .btn:hover img{
	transform: rotate(360deg);
}
.result-title{
	margin: 0;
	margin-bottom: 5px;
	font-size: 1.2em;
	color: #fff;
	font-weight: 700;
}
.result-title--sub{
	color: #fff;
	font-size: 15px;
}
.print-this p {
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-weight: 700;
	color: #fff;
	font-family: "Open Sans", sans-serif;
} 
p#result_name {
	top: 135px;
	font-size: 2em;
}
p#result_city {
	top: 182px;
	font-size: 1.8em;
}
p#result_province {
	top: 225px;
	font-size: 1.8em;
}

@media all and (max-width: 768px) {
	#browse {
		margin-right: 0px;
	}
	.section img {
		max-width: 305px;
	}
	.form-section .flex-preview {
		flex-wrap: wrap;
	}
	.preview {
		margin-top: 15px;
		width: 100%;
	}
}

@media all and (max-width: 568px){
	.print-this{		
		/*top: 110px;*/
		bottom: 10%;
		position: fixed;
		top: initial;
		transform: translate(-50%, 0%);
	}
	.print-this img {
		width: 320px;
		height: 320px;
	}
	p#result_name {
		top: 70px;
		font-size: 1em;
	}
	p#result_city {
		top: 93px;
		font-size: 0.8em;
	}
	p#result_province {
		top: 115px;
		font-size: 0.8em;
	}
}

@media all and (max-width: 1025px) and (min-width: 1023px){
	.print-this{
		top: 54%;
	}
}